<h3>Sign In</h3>

<%= link_to "Sign up!", new_user_url %>
<form action="<%= session_url %>" method="POST">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">
    
  <br>
  <label>Email
    <input type="text" name="user[email]">
  </label>
  <br>
  
  <br>
  <label>Password
    <input type="password" name="user[password]">
  </label>
  <br>
  
  <br>
  <input type="submit">
</form>