<h3>New Note</h3>

<form action="<%= notes_url %>" method="POST">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">
    
  <input type="hidden" name="note[track_id]" value="<%= track.id %>">
  
  <label for="note_content">Content</label>
  <br>
  
  <textarea id="note_content" name="note[content]"></textarea>
  <br>
  
  <input type="submit">
</form>