<% action_url = track.persisted? ? track_url(track) : tracks_url %>
<% http_method = track.persisted? ? "PATCH" : "POST" %>

<% unless track.errors.full_messages.empty? %>
<ul>
  <% track.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  <% end %>
</ul>
<% end %>

<form action="<%= action_url %>" method="POST" %>
  <input type="hidden" name="_method" value="<%= http_method %>">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">
  
  <label>Track Name
    <input type="text" name="track[name]" value="<%= track.name %>">
  </label>
  <br>
  
  <br>
  <label>Album Name
    <select name="track[album_id]">
        <% Album.all.each do |album| %>
            <option
                <%= "selected" if track.album_id == album.id %>
                value="<%= album.id %>">
                <%= album.name %>
            </option>
        <% end %>
    </select>
  </label>
  <br>

  <br>
  <label>Track #
    <input type="number" name="track[track_num]" value="<%= track.track_num %>">
  </label>
  <br>

  <br>
  <label for="track_lyrics">Lyrics</label>
  <textarea 
    id="track_lyrics" 
    name="track[lyrics]"><%= track.lyrics %>
  </textarea>
  <br>

  <br>
  <input type="submit">
</form>
