<h3><%= @track.name %></h3>

<%= ugly_lyrics(@track.lyrics) %>

<% @track.notes.each do |note| %>
  <p>Note: <%= @track.notes.index(note) + 1 %></p>
  <%= render "notes/note", note: note %>
<% end %>

<%= render "notes/form", track: @track %>

<ul>
  <li><%= link_to "Edit Track", edit_track_url(@track)%></li>
  <li><%= link_to "Delete Track", track_url(@track), method: :delete%></li>
  <li><%= link_to @track.album.name, album_url(@track.album.id)%></li>

