<h3>New User</h3>

<form action="<%= users_url %>" method="POST">
  <input 
    type="hidden" 
    name="authenticity_token" 
    value="<%= form_authenticity_token%>">
    
  <label>Email
    <input type="text" name="user[email]">
  </label>
  <br>
  
  <br>
  <label>Password
    <input type="password" name="user[password]">
  </label>
  <br>
  
  <br>
  <input type="submit">
</form>