<% action_url = album.persisted? ? album_url(album) : albums_url %>
<% http_method = album.persisted? ? "PATCH" : "POST" %>

<% unless album.errors.full_messages.empty? %>
<ul>
  <% album.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  <% end %>
</ul>
<% end %>

<form action="<%= action_url %>" method="POST">
  <input type="hidden" name="_method" value="<%= http_method %>">
    <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">
      
  <label>Name
    <input type="text" name="album[name]" value="<%= album.name %>"
  </label>
  <br>
  
  <br>
  <label>Band
    <select name="album[band_id]">
      <% Band.all.each do |band| %>
      <option
        <%= "selected" if album.band_id == band.id %>
        value="<%= band.id %>">
        <%= band.name %>
      </option>
      <% end %>
    </select>
  </label>
  <br>
  
  <br>
  <label>Year
    <input type="text" name="album[year]" value="<% album.year %>">
  </label>
  <br>
  
  <input type="submit" value="Add Album!">
</form>