<h3><%= @album.name %></h3>

<ul>
  <% @album.tracks.each do |track| %>
   <li><%= link_to track.name, track_url(track) %></li>
 <% end %>
</ul>

<ul>
  <li><%= link_to "New Track", new_album_track_url(@album.id)%></li>
  <li><%= link_to "Edit Album", edit_album_url(@album)%></li>
  <li><%= link_to "Destroy Album", album_url(@album), method: :delete%></li>
  <li><%= link_to @album.band.name, band_url(@album.band) %></li>