<% action_url = band.persisted? ? band_url(band) : bands_url %>
<% http_method = band.persisted? ? "PATCH" : "POST" %>

<% unless band.errors.full_messages.empty? %>
<ul>
  <% band.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  <% end %>
</ul>
<% end %>

<form action="<%= action_url %>" method="POST">
  <input type="hidden" name="_method" value="<%= http_method %>">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">
    
  <label>Band/Musician Name
    <input type="text" name="band[name]" value="<%= band.name%>">
  </label>
  <br>
  
  <br>
  <input type="submit">
</form>