<h3>Bands/Musicians</h3>

<ul>
  <% @bands.each do |band| %>
    <li><%= link_to band.name, band_url(band) %></li>
  <% end %>
</ul>

<%= link_to "New Band/Musician", new_band_url %><br>
<%= link_to "New Album", new_band_album_url(@bands.first) %>