<h3><%= @band.name %></h3>

<ul>
  <% @band.albums.each do |album| %>
    <li><%= link_to album.name, album_url(album) %></li>
  <% end %>
</ul>

<ul>
  <li><%= link_to "New album", new_band_album_url(@band.id) %></li>
  <li><%= link_to "Edit band/musician", edit_band_url(@band.id) %></li>
  <li>
    <%= link_to "Delete band/musician", band_url(@band.id), method: :delete %>
  </li>
  <li><%= link_to "All bands/musicians", bands_url %></li>
</ul>