<!DOCTYPE html>
<html>
<head>
  <title>MusicApp</title>
  <!-- <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
   --><%= csrf_meta_tags %>
</head>
<body>

<% if logged_in? %>
  <p><%= current_user.email %></p>
  <%= button_to "Sign Out", session_url, method: :delete %>
<% end %>

<%= yield %>
<br>
</body>
<%= button_to "Bands/Musicians", bands_url, method: :get %>
</html>
